<% provide(:title, "Главная") %>
<div class="center jumbotron">
  <h1>База данных ПК и ПО АмГУ.</h1>

  <h2>
    Это стартовая страница, здесь вы можете подумать, что вы хотите сделать.
  </h2>
<%if logged_in?%>
<p>Приветствую вас <%=current_user.name%>. Можете начинать работу!</p>
<%else%>
  <%= link_to "Зарегистрироваться", signup_path, class: "btn btn-lg btn-primary" %>
<%end%>
</div>

<%= link_to image_tag("rails.png", alt: "Рельсы"),
            'http://rubyonrails.org/' %>

