/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require semantic
 *= require_tree .
 *= require_self
 */

.site {
  display: flex;
  flex-direction: column;
  height: 100%; /* 1, 3 */
}

.sitecontent {
  min-height: unset;
  flex: 1; /* 2 */
  padding: var(--space) var(--space) 0;
  width: 100%;
}
.footer {
  margin: 0em;
}
.pusher {
  min-height: unset;
}
.sitecontent::after {
  content: '\00a0'; /* &nbsp; */
  display: block;
  margin-top: var(--space);
  height: 0px;
  visibility: hidden;
}
@media (--break-lg) {
  .sitecontent {
    padding-top: var(--space-lg);
  }
  .sitecontent::after {
    margin-top: var(--space-lg);
  }
}

.sitecontent--full {
  padding: 0;
}
.sitecontent--full::after {
  content: none;
}
