<footer class="ui inverted horizontal footer segment appendable">
 <small>
    The <a href="http://amursu.ru/", style="color:white">AmurSU</a>
    PCs database 
</small>
<div class="ui inverted right aligned secondary menu">
     <%= link_to "About", about_path, class: "right item" %>
     <%= link_to "Contact", contact_path, class: "right item" %>
  </div>
</footer>
