<sidenav class="sidenav">
<small>
Workspace
</small>
<nav>
<ul>
<li><%= link_to "Список пользователей", users_path%></li>
<li><%= link_to "Список железок", pcs_path%></li>
<li><%= link_to "Список программ", progs_path%></li>
</ul>
</nav>
</sidenav>
